
*{
    margin: 0;
    padding: 0
    
}

h1{
    color:#0da2b8;
    margin-left: 1%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5); 

    
}


/* paleta de colores */


.colorverdepetroleo{
    color: #0da2b8;
}

.colorgris{
    color: #d5d6db;
}

.coloroliva{
    color: #636816;
}

.colorcoral{
    color: #de9a5b;
}

.colormarron{
    color: #795630 ;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* ---------------ESTILOS DE FUENTE------------------ */


html{
    font-family: 'Exo', sans-serif;
}




main{
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 800;   
    
    
}

/* -------------HEADER----------------- */

header{
    background-image: url(../fotos/puerta.jpeg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    align-items: center;
}


/* ----------------------MAIN.HTML -----------------------*/



.boton--registro{
    text-decoration: none;
    color: #0da2b8;
    width: 100px;
    height: 20px;
    text-align: center;
    padding-bottom: 2px;
    
}

.boton{
    text-decoration: none;
    width: 100px;
    height: 20px;
    text-align: center;
    padding-bottom: 2px;
}

.logo{

    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    
}


/*------------------ BARRA DE NAVEGACION --------------------*/


header nav{
    display: flex;
    justify-content:center;
    align-items: baseline;
    text-align: center;
    width: 100%;
    height: 50%; 

}

.container{

    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    max-width: 1300px;
    
}


header nav ul {
    display: flex;
    padding: 5px;
    align-content: center;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler-icon{
    background-color: #d5d6db;

}

header nav ul li{
    display: flex;
    font-family: 'Lexend Zetta', sans-serif;
    margin-left: 5vw;
    font-weight: 700;
    text-decoration: none;
    color: #636816;
    
}
#navbarNav ul li a{
   
    color: #de9a5b; 

}

.nav-item{
    text-decoration: none;
    color: #de9a5b; 
    
}

#navbarNav ul li a:hover{
    color:#d5d6db;

}

.nav-item:hover{
    color: #de9a5b;
    transform: scale(1.1);
}


.barra-inicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    
}


#barra-de-busqueda{
   
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 2px;
    
}


.boton{
    text-align: center;
    width: fit-content;
    font-size: smaller;
    box-shadow: 1px 1px 1px grey;
}

.boton--registro{
    text-align: center;
    font-size: smaller;
    width: fit-content;
    box-shadow: 1px 1px 1px grey;
}



video{

    width:100%;
}




/* ----------SECCIONES--------- */

/* .contenedor-secciones1{
   
    saque las grids y no puedo colocar una seccion al lado de otra con bootstrap como hacia con las grillas
    
} */


h2{
    text-align: center;
    width: 100%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px #636816;
   
}

h3{
    display: flex;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
   
}

h3 p{
    text-align: center;
}



.nosotros{ 
    text-align: justify;
    color: #795630;
    grid-column: 1/1;
    grid-row: 1/1;
    justify-self: right;
}

.nosotros a{
    display: flex;
    justify-content: center;
    margin-top: 5%;
   
}

.menu{
    text-align: justify;
    color: #795630;
    grid-column: 2/1;
    grid-row: 2/2;
    justify-self: right;
}

.menu a{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.community{
    text-align: justify;
    color: #795630;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: right;
}

.community a{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.reservas{
    display: inline-block;
    text-align: justify;
    color: #795630;
    grid-column: 2/3;
    grid-row: 2/2;
    justify-self: right;
}

.reservas a{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

h2{
    color:#795630;
    margin-top: 3vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h3{
    transform: translate(50%) ;
}

.centrar-imagen{
    text-align:center;
    
}


.seccion-nosotros img{
    border-radius: 60%;
    margin-top: 3vw;
    margin-left: 1vw;
    margin-left: 40vw;
    box-shadow: 20px 20px 20px 1px grey;

}



.seccion-nosotras p{
    font-size: x-large;
    text-align: center;
    width: 100%;
    
}

/* ---------------CORTE INDEX------------- */
#corte-index{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;
}
    
#corte-index p{
    text-align: center;
    color: #de9a5b;
    margin-bottom: 10px;
    font-weight: bolder;
}

#corte-index a{
    margin-left: auto;
    margin-right: auto;
    
}

.boton--under{  
    width: 100px;
    height: 20px;
    text-align: center;
    padding-bottom: 2px;
    box-shadow: 1px 1px 1px grey;
    
    
    
}

.boton__registro--under{
    color: #0da2b8;
    padding-bottom: 2px;
    width: 100px;
    height: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px grey;
    
}


hr{
    background-color: #d5d6db;
}


/* -----------------------------------FOOTER----------------- */


footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(#adabaab3, rgba(237, 237, 237, 0.77));
    background-size: cover;
    
}

footer ul li a{
    text-decoration: none;
    color: #636816;
    justify-content: space-evenly;

}



footer ul li a:hover{
    color: #636816;
    transform: scale(1.1);
}


footer ul {
    display: flex;
    justify-content: center;
    width: 100%;
    width: 50%;
    padding: 5px;
    align-items: baseline;
    justify-content: space-evenly;
    text-decoration: none;
    color: #636816;   
}

footer ul li{
    display: flex;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 700;
    justify-content: space-evenly;
    
}

.imagenesfooter{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top:5%;
    width: 30%;
    
}





footer p{
    display: flex;
    text-align: justify;
    color: #d5d6db;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}



/*------------------ CONTACTO.HTML y  RESERVAS.HTML-----------------------*/


.caja{
    
    background:radial-gradient(#d5d6db, #decdbe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 400px;
    height: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding: 3vw 3vw 3vw 3vw;
    box-shadow: 20px 20px 20px 1px rgb(200, 199, 199);
   

}

.caja h2{
   padding: 1%;
}


#aclaraciones{
    align-items: center;
}


.h1_contacto{
    font-weight: bolder;
    display: flex;
    width: 100%;
    justify-content: center;   
}

body p{
    text-align: center;
    font-weight: 400;

}

#motivo-consulta{
    margin-top: 3vw;
    width:100%;
 
}

.horario-reserva{
    display: inline-block;
    font-size: small;
    margin-bottom: 5%;
    
}


#campo-tel{
    margin-top: 5px;
    width: 50%;
    display: block;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

#campo-email{
    width: 90%;
    margin-top: 5px;
}

#campo-nombre{
    margin-bottom: 5px;
    width: 90%;
    margin-top: 20px;
}

#campo-apellido{
    width: 90%;
    margin-bottom: 10px;
}

.boton_enviar{
    text-align: center;
    color: #0da2b8;
    width: 100px;
    box-shadow: 1px 1px 1px grey;
}





.caja_2{
    
    
    border-width: 1px;
    display: inline-block;
    width: 400px;
    text-align: center;
    margin-left: 36vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding: 3vw 3vw 3vw 3vw;
    background:radial-gradient(#d5d6db, #decdbe);
    box-shadow: 20px 20px 20px 1px rgb(200, 199, 199);
}



/* ----------------------------REGISTRO----------- */

.caja--registro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 400px;
    height: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding: 3vw 3vw 3vw 3vw;
    background:radial-gradient(#d5d6db, #decdbe);
    box-shadow: 20px 20px 20px 1px rgb(200, 199, 199);
}

.caja--registro form{

  justify-content: center;
  align-content: center;
  text-align: center;
}

.boton_enviar_registro{
    text-align: center;
    color: #0da2b8;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    box-shadow: 1px 1px 1px grey;
}

#campo-password {
    width: 90%;
    margin-top: 5px;
}

.newsletter{
    font-size: 3%;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 2px;
    
}

.seccion-experiencia img:hover{
    transform: scale(1.1);
}


/* -------------------------------LOG IN--------------------- */

.titulo-loging{
    width: 100%;
    display: flex;
}

.titulo-loging p{
    width: 100%;
    text-align: center;
}


/* ------------------COMMUNITY ----------------------- */

.imagen-jeep{
    border-radius: 10%;
}

.nav-community{
    background-image: none;
    width: 100%;
}

.body-community{
    display: grid;
    background-image: url(../fotos/puerta_mar.jpeg) no-repeat fixed center center;
    background-size: cover;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto 50vh auto;
    grid-template-areas:"header header" "titulo titulo" "importante aside" "experiencia aside" "footer footer";
}

header {
    grid-area: header;
}

.inicio-community{
    grid-area: titulo;
    text-align: center;
    padding: 5%;
}

.inicio-community p{
    font-size:x-large;
    color:#795630;
}

.inicio-community h2{
    font-size: x-large;
    
}

.seccion-importante{
    grid-area: importante;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    color:#de9a5b
    
}

.seccion-importante img{
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
   
}



aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

aside h2{
    color: #d5d6db;
}

aside img{
    margin-left: auto;
    margin-right: auto;
}



aside p{
    font-weight: 900;
    color:#636816
}

.seccion-experiencia{
    grid-area: experiencia;
    text-align: center; 
    margin-top: 50px;
}

.seccion-experiencia img{
    border-radius: 10%;
    flex-wrap: wrap;
    flex-direction: row;
}

.seccion-experiencia h2{
    font-size: xx-large;
    color:#795630;
}


footer{
    grid-area: footer;
}


/* -------------NEWSLETTER -----------*/

.boton--registro-newsletter{
    text-decoration: none;
    color: #0da2b8;
    width: 100px;
    height: 20px;
    text-align: center;
    padding-bottom: 2px;
    box-shadow: 1px 1px 1px grey;

}